# Godot 4+ specific ignores
.godot/
/android/
.nomedia

# Godot-specific ignores
.import/
export.cfg
export_credentials.cfg

# Imported translations
*.translation

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE
.idea/
.vscode/